body
	margin 0
	background-color grey

#grid
	max-width 960px
	min-width 760px

.row
	display -webkit-box
	-webkit-box-orient horizontal	
	background-color blue

.column
	display -webkit-box
	-webkit-box-orient vertical
	background-color green