body
	margin 0
	padding 20px
	background-color rgb(219, 219, 219)

#container
	position: relative
	width: 300px
	height: 100%
	z-index: 1

#popup
	width 12em
	height 6em
	top 50%
	left 50%
	position absolute
	margin-left -7em
	margin-top -5em
	border-radius 10px
	background-color rgb(148, 147, 147)
	color white
	padding 1em
	box-shadow 4px 4px 10px rgb(80, 78, 78)
	z-index 999