form
	div.row
		margin-bottom 12px
		display -webkit-box
		width 300px

		input, label
			display block
			-webkit-box-flex 2

		input[type=checkbox]
			-webkit-box-flex 1

		input[type=time], input[type=date]
			display -webkit-inline-flex
	
	div.row.withsibling
		margin 0

	div#until
		display none