ul
	padding 0
	margin 0

	li
		display -webkit-box
		width 300px
		font-size 0.75em

		div
			display block
			-webkit-box-flex 2
			padding 4px 10px

	li.reservation
		background-color pink

	li.trip
		background-color lightblue